doctype html
html
  head
    title add link
    {{> head.jade}}
  body
    | {{{loginBar}}}
  
    h2 add link  

    form(method='post', action='{{toRoot}}/{{user}}')
      // ko with: linkRecord
      div URI:
        input(type='text', name='href', data-bind='value: href')
      div Title:
        input(type='text', name='description', data-bind='value: description')
      div Tags (space-separated):
        input(type='text', name='tag', data-bind='value: tag')

      div Comment:
        textarea(name='extended', data-bind='value: extended')
      div
        | Private (no effect, yet):
        input(type='checkbox', data-bind='value: private')
      div Share with (this does not work yet):
        input#shareWith(type='hidden', name='shareWith', style="width: 600px")

      pre          
        | upon submit, send msgs to c3po who has to buffer them against resends.
        | bigfoaf display should talk to c3po to learn msgs sent from and to this person.
      // /ko
      div
        button(type='submit', data-bind="text: submitLabel")
          | Add

    hr

    {{> bookmarklets.jade}}
          
    script
      var toRoot = "{{toRoot}}", user = "{{user}}";
    {{> tail.jade}}
    script(src="{{toRoot}}/static/add.js")
    script
      model.linkRecord.href({{{fillHrefJson}}})
