doctype html
html
  head
    title {{desc}}
    {{> head.jade}}
  body
    | {{{loginBar}}}
    h2 Showing {{desc}}

    p
      a(href="{{toRoot}}/addLink") Add link
    
    | Filter to: 
    {{#pageTags}}  
    a.tag(href="{{word}}") {{word}}
    | 
    {{/pageTags}}
    input(type="text", id="filterTag")
    
    {{#links}}
    .link
      h3
        span.favicon(style="background-image: url(//www.google.com/s2/favicons?domain={{domain}})")
        a(href="{{href}}") {{displayDescription}}
      {{#extended}}
      .notes
        | {{extended}}
      {{/extended}}
      .tags
        | Tags:
        {{#tagWords}}
        a.tag(href="{{toRoot}}/tag/{{word}}", title="add/remove this tag from the current filter") {{word}}
        | 
        {{/tagWords}}
      .hrefShown
        a(href="{{href}}") {{href}}
      .modified
        | Modified: {{t}}
      .edit
        a(href="{{toRoot}}/{{editLink}}") Edit
        
    {{/links}}

    p {{stats}}
    script
      var toRoot = "{{toRoot}}";
    {{> tail.jade}}
