script(src='{{toRoot}}/static/lib/jquery-1.9.1.min.js')
script(src='{{toRoot}}/static/lib/select2-3.3.1/select2.min.js')
script(src="{{toRoot}}/static/lib/knockout-2.2.0.debug.js")
script(src="{{toRoot}}/static/gui.js")
